{% extends 'base.html' %}
{% block bodyblock %}
    <div class="container">
    <div class="jumbotron">
        <h1 class="display-2">Smart Lamp</h1>
        <h2 class="display-4">Aplicacao</h2>
        <hr class="my-4">
        <p>Texto de introdução do que a aplicação faz.</p>
        <a class="btn btn-primary btn-lg" href="/index" role="button">Página Inicial</a>
        <a class="btn btn-primary btn-lg" href="/historico" role="button">Historico</a>
      </div>
    </div>

    <div class="container">
            <form action="{{ url_for(button_url) }}" method="POST">
                <input type="submit" name="confirm"class="btn {{ button_class }} btn-lg" value="{{ button_name }}">
            </form>
		</div>
    </div>
{% endblock bodyblock %}