{% extends 'base.html' %}
{% block bodyblock %}
    <div class="container">
    <div class="jumbotron">
        <h1 class="display-2">Smart Lamp</h1>
        <p class="lead">Simples página web para controle da SMART LAMP.</p>
        <hr class="my-4">
        <p>Texto de introdução do que a aplicação faz.</p>
        <a class="btn btn-primary btn-lg" href="/historico" role="button">Histórico</a>
        <a class="btn btn-primary btn-lg" href="/aplicacao" role="button">Aplicação</a>
      </div>
    </div>
{% endblock bodyblock %}